.list:first-child {
  margin-left: 0;
}

#board {
  width: 1360px;
  margin: 0 auto;
  display: block !important;
  overflow-y: auto;
}

#board .list-table {
  display: table;
  border-spacing: 10px;
  width: 100%;
}

#board .list {
  display: table-cell;
}

.list-group {
  border-spacing: 0;
  display: table-cell;
}
.list-group .clearfix {
  margin-bottom: 10px;
}
